<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'mycerts.css')}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <title> My Certs</title>
    {% block head %}
    {% block title %}
    {% endblock %}
    {% endblock %}

</head>
<body>
  

  <header class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 mb-3 text-white myheader">
    <p class="h2 my-0 me-md-left fw-normal">
      <a href= "/" class = "text-white text-decoration-none">
        <img src="/static/images/document.png" alt="" width="30" height="24" class="d-inline-block"> My Certs
      </a>
      {% if g.user %}
      <p class="h6 my-0 me-md-auto fw-normal">
        <a class="p-2 text-white text-decoration-none" href="/mycerts/{{g.user.id}}">Certifications</a>
        <a class="p-2 text-white text-decoration-none" href="/hours/{{g.user.id}}">Hours</a>
        <a class="p-2 text-white text-decoration-none" href="/training">Training</a>
      </p>
      {% endif %}
    </p>

    <nav class="my-2 my-md-0 me-md-3">
      {% if not g.user %}
        <a class="p-2 text-white text-decoration-none" href="/sign-up">Sign-up</a>
        <a class="p-2 text-white text-decoration-none" href="/login">Login</a>

      {% else %}
        <a class="p-2 text-white text-decoration-none" href="/administrator">Admin</a>
        <a class="p-2 text-white text-decoration-none" href="/logout">Logout</a>
      {% endif %}
      
    </nav>
    
  </header>
 


  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  </div>

  
  
    {% block content %}
    {% endblock %}
   
  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script src = "/static/mycerts.js"></script>
    {% block javascript %}
    {% endblock %}
 
</body>
</html>

