{% extends "base.html" %}


{% block content %}

<h1>Certifications</h1>
<div class="table-responsive">
    <table class="table table-striped table-hover border-secondary">
      <thead>
        <tr>
          <th scope="col">Certification Name</th>
          <th scope="col">Expire</th>
          <th scope="col">Good For</th>
        </tr>
      </thead>
    
      <tbody>
        {% for cert in certs %}
        <tr>
          <th scope="row"><a href = "/ad/edit-cert/{{cert.id}}"> {{cert.cert_name}}</a></th>
          <td>{{cert.expire}}</td>
          <td>{{cert.good_for_time}} {{cert.good_for_unit}}</td>
        </tr>
        {% endfor %} 
      </tbody>
  
    </table>
  </div>
  
  <a class="btn btn-primary" type="button" href = "/ad/add-cert">Add Certification</a>
<a href = "/administrator" class = "btn btn-danger">Go Back</a>
{% endblock %}