{% extends "base.html" %}


{% block content %}
<h1>Employees</h1>
<div class="table-responsive">
    <table class="table table-striped table-hover border-secondary">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
    
      <tbody>
        {% for employee in employees %}
        <tr>
          <th scope="row"><a href = "/ad/edit-user/{{employee.id}}">{{employee.first_name}}</a></th>
          <td>{{employee.last_name}}</td>
          
          <td>
            <ul>
              {% for location in employee.locations %}
              <li> {{location.site_name}} </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %} 
      </tbody>
  
    </table>
  </div>
  
<a class="btn btn-primary" type="button" href = "/ad/add-user">Add Employee</a>
<a href = "/administrator" class = "btn btn-danger">Go Back</a>

{% endblock %}