{% extends "base.html" %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="join-message">Email Search</h2>

      <form method="POST" id="sign_up_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class = "form-group"> 
          {{ field.label}}
          {{field}}
          {% for error in field.errors %}
            <small class=" form-text text-danger">{{ error }}</small>
          {% endfor %}
          {% endfor %}
          </div>
          {% for msg in get_flashed_messages() %}
          <p>
            {{msg}}
          </p>
          {% endfor %}

        <button class="btn btn-warning btn-block btn-lg">Reset Password</button>
      </form>
    </div>
  </div>
</div> 

{% endblock %}

