{% extends "base.html" %}


{% block content %}



<h1>Welcome {{employee.first_name}} {{employee.last_name}}!!</h1>


{{employee.username}}
{{employee.email}}
{{employee.hire_date}}
{{employee.is_admin}}

{{employee.locations.site_name}}

{{employee.certs.cert_name}}

{{employee.completed}}
{{employee.required}}

<div class="table-responsive">
    <table class="table table-striped table-hover border-secondary">
      <thead>
        <tr>
          <th scope="col">Certification</th>
          <th scope="col">Date Received</th>
          <th scope="col">Date Expires</th>
        </tr>
      </thead>
      <tbody>
        {% for cert in certs %}
        <tr>
          <td>{{cert.cert_name}}</td>
          <td>{{emp.received}}}</td>
          <td>{{emp.due_date}}</td>
        </tr>
        {% endfor %}
      </tbody>
  
    </table>
  </div>



{% endblock %}

