
{% extends "base.html" %}


{% block content %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<canvas id="pie-chart" width="600" height="250"></canvas>

{% block javascript %}
<script>
    labels = JSON.parse({{ labels | tojson}})
    data = JSON.parse({{ data | tojson}})
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: labels,
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#3e95cd", "#8e5ea2"],
        data: data
      }]
    },
    options: {
      title: {
        display: true,
        text: 'My Training Hours'
      }
    }
});
</script>

{% endblock %}


{% endblock %}