{% extends "base.html" %}


{% block content %}



<h1>Welcome {{employee.first_name}} {{employee.last_name}}!!</h1>


<div class="table-responsive">
    <table class="table table-striped table-hover border-secondary">
      <thead>
        <tr>
          <th scope="col">Certification</th>
          <th scope="col">Date Received</th>
          <th scope="col">Date Expires</th>
        </tr>
      </thead>
      <tbody>
        {% for cert in certs %}
        <tr>
          <td>{{all_certs[cert.id - 1].cert_name}} </td>
          <td>{{cert.received}}</td>
          <td>{{cert.due_date}}</td>
        </tr>
        {% endfor %}
      </tbody>
  
    </table>
  </div>



{% endblock %}

